# Shared Google Calendar
GOOGLE_CALENDAR_ID=g3kgagicusaol82fqhjc62o47o@group.calendar.google.com
NEXT_PUBLIC_GOOGLE_CALENDAR_ID=g3kgagicusaol82fqhjc62o47o@group.calendar.google.com
NEXT_PUBLIC_GOOGLE_CALENDAR_COLOR=#fa573c
NEXT_PUBLIC_GOOGLE_CALENDAR_TIMEZONE=America/New_York
